@charset "utf-8";

.catalog_block_wr {
	position: relative;
	padding: 20px 100px 40px 50px;

    @media all and (max-width: 1400px) {
        padding: 20px 100px 24px 30px;
    }

    @media all and (max-width: 1023px){
        padding: 0 16px 30px;
    }

    .filte_block_btn {
    	padding: 13px 16px;
    	margin: 0 -16px;
    	background: rgba(245, 245, 245, 0.9);
		backdrop-filter: blur(7.5px);

    	.filter_btn {
    		cursor: pointer;
    		display: inline-block;
    		vertical-align: top;
    		font-weight: 500;
			font-size: 14px;
			line-height: 135.5%;
			letter-spacing: 0.045em;
			color: #232326;
			padding-right: 28px;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 2px;
				bottom: 0;
				right: 0;
				width: 14px;
				height: 14px;
				background: #4FCF84 url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.465992 0C0.605902 0 0.726915 0.0332288 0.828561 0.129003L1.03797 0.364628C1.10147 0.446043 1.19056 0.515078 1.25104 0.596322C1.2882 0.646236 1.31207 0.670895 1.35408 0.715915L1.77264 1.18744C1.792 1.20812 1.80843 1.22318 1.82582 1.24546C1.93883 1.39034 2.07127 1.51973 2.19133 1.65883L3.13991 2.73545C3.177 2.78527 3.20091 2.81013 3.24295 2.85503C3.26232 2.87571 3.27875 2.89077 3.29613 2.91306C3.31766 2.94066 3.31971 2.94895 3.3447 2.97602L3.50581 3.14839C3.52748 3.17476 3.52979 3.18488 3.55397 3.21179L3.8707 3.56242C3.8925 3.58895 3.89447 3.59885 3.91889 3.62579C3.94274 3.65211 3.95714 3.66246 3.97542 3.69171C4.01153 3.6658 4.07054 3.60079 4.09968 3.56035L4.88519 2.6885C4.91282 2.65858 4.91846 2.64282 4.94387 2.61338C5.02228 2.52254 5.12041 2.44127 5.18817 2.34613C5.24606 2.26484 5.35921 2.15641 5.43242 2.07884L6.0988 1.33236C6.17029 1.23633 6.263 1.15329 6.34465 1.06679C6.37393 1.03577 6.37869 1.02498 6.40407 0.992446C6.49076 0.881313 6.61642 0.771936 6.70457 0.658927L7.13335 0.18686C7.265 0.0444668 7.47828 -0.0307854 7.6768 0.0473287C7.8504 0.115638 8 0.294476 8 0.506026C8 0.931381 7.78056 0.969485 7.58765 1.23722L7.08508 1.79123C7.06341 1.81445 7.04639 1.83062 7.02592 1.85434L6.46239 2.48104C6.43557 2.5109 6.43063 2.52638 6.4038 2.55625L5.59282 3.4583C5.52335 3.54736 5.41977 3.64342 5.34089 3.72886L5.03035 4.07462C5.00497 4.10715 5.00021 4.11794 4.97093 4.14896C4.92519 4.19743 4.88759 4.23807 4.84205 4.28687C4.74638 4.38938 4.39581 4.79597 4.34042 4.84188C4.28045 4.89157 4.25965 4.90957 4.1831 4.94932C4.04839 5.01925 3.86354 5.01691 3.73192 4.94171C3.68071 4.91245 3.60761 4.84839 3.57013 4.80457L2.60927 3.7066C2.56575 3.65081 2.51151 3.60517 2.46473 3.55097L1.15532 2.06747C1.12508 2.03471 1.11623 2.01352 1.08599 1.98076L0.602911 1.44037C0.448745 1.25277 0.269107 1.08108 0.120883 0.887348C0.0808535 0.835022 0.0399656 0.760441 0.0193264 0.685658C-0.0675401 0.370901 0.148466 0 0.465992 0V0Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
				border-radius: 50%;
				margin: auto;
			}
    	}

    	&.opened {
    		background: #fff;

    		.filter_btn {

    			&:after {
    				transform: rotate(180deg);
    			}
    		}
    	}

    	@media all and (min-width: 1024px) {
    		display: none;
    	}
    }

    .text_ver {
        position: absolute;
        top: 400px;
        bottom: 0;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 135.5%;
        letter-spacing: 0.3em;
        color: #000000;
        display: flex;
        align-items: start;
        justify-content: center;
        right: 0;
        width: 100px;

        span {
            transform: rotate(-90deg);
            transform-origin: center;
            white-space: nowrap;
        }

        @media all and (max-width: 1023px) {
            display: none;
        }
    }

	.download_btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 93px;
        height: 87px;
        border: none;
        display: block;
        z-index: 10;
        background: #4FCF84 url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.46486 24.4951L5.472 24.5023C5.47154 24.5018 5.46232 24.4974 5.46486 24.4951ZM20.3825 30C21.3922 30 21.2713 29.9816 21.7 29.1266L22.2542 27.9968C22.3534 27.7989 22.436 27.632 22.532 27.4323C22.5537 27.3869 22.5754 27.3591 22.5996 27.3075C22.9376 26.5862 23.317 25.8831 23.6524 25.1605L26.358 19.6381C26.49 19.4045 26.5846 19.1656 26.7048 18.9263L27.9579 16.3783C27.9856 16.3203 27.9981 16.284 28.0271 16.2308L29.7653 12.7002C29.7969 12.6422 29.8056 12.603 29.8299 12.5485C29.9789 12.2134 30.1363 11.9075 29.8003 11.5915C29.5151 11.3234 29.0311 11.3375 28.8033 11.6686C28.7355 11.7676 28.7163 11.8272 28.6649 11.9391C28.6197 12.0371 28.5735 12.1211 28.5283 12.2115L28.191 12.8847C27.9277 13.4467 27.4501 14.4757 27.1799 14.9533L26.9136 15.5047C26.7124 15.9049 26.1988 16.9153 26.0428 17.2805C26.0131 17.3507 25.9999 17.3537 25.9672 17.4214L25.2989 18.7981C25.1693 19.0566 24.999 19.3539 24.8924 19.6186C24.8492 19.7256 24.8123 19.7928 24.7606 19.8959L23.885 21.6664C23.8564 21.7283 23.8511 21.7596 23.8209 21.819C23.7877 21.8853 23.7805 21.877 23.7498 21.9405C23.7235 21.9948 23.7092 22.0415 23.6845 22.0917C23.5943 22.2751 23.5062 22.4466 23.4111 22.6362C22.7717 23.9106 22.1716 25.204 21.5276 26.4785C21.4295 26.6728 21.3543 26.8355 21.2581 27.0272C21.077 27.3885 20.7104 28.0951 20.5855 28.3996C20.5419 28.5059 20.4815 28.5641 20.4549 28.6778L17.604 28.5167C17.3686 28.4863 17.1612 28.4804 16.9259 28.4479C16.2632 28.3561 15.5955 28.2794 14.9393 28.1696C13.4882 27.9271 12.3442 27.6198 10.9884 27.2548C10.8938 27.2293 10.798 27.1918 10.6944 27.1634C10.5334 27.1195 10.2763 27.0541 10.1312 26.98C10.1277 26.9784 10.1208 26.9745 10.116 26.9711C10.2023 26.9711 10.3673 26.9943 10.4642 27.0083C10.5906 27.0267 10.675 27.0355 10.8043 27.0539C11.622 27.1704 13.6984 27.229 14.4794 27.1646C14.5717 27.157 14.6746 27.1685 14.7674 27.1634C15.7221 27.1124 16.6863 26.9775 17.631 26.8468C18.3719 26.7441 18.3278 26.36 18.637 25.807L19.298 24.447C19.4302 24.1858 19.5451 23.9235 19.6912 23.6613C19.7332 23.5861 19.7477 23.5352 19.7803 23.4618C19.8086 23.3983 19.8449 23.332 19.8765 23.2691L21.3119 20.3502C21.3543 20.248 21.3693 20.2453 21.4088 20.1583C21.4769 20.0075 21.5239 19.9104 21.5954 19.7677C21.6647 19.6299 21.7191 19.5208 21.7886 19.3831L21.9766 18.9937C22.1072 18.669 22.292 18.3449 22.4556 18.0294L23.0265 16.8439C23.059 16.7671 23.0961 16.7157 23.1254 16.6543L26.8961 8.97293C27.0396 8.67812 27.2 8.38996 27.3301 8.08364C27.496 7.69308 27.6984 7.29564 27.8982 6.91958L28.6123 5.46849C28.6314 5.43028 28.6386 5.40819 28.657 5.36883C28.7235 5.22568 28.8174 5.05883 28.8174 4.87977C28.8174 4.17898 27.8876 3.96863 27.5415 4.64066L27.3795 4.98404C27.1164 5.50854 26.8174 6.18608 26.547 6.67768L26.2228 7.33982C26.1617 7.46157 26.1151 7.55455 26.0539 7.6763C26.0232 7.73751 25.9985 7.78192 25.9741 7.83693C25.643 8.57961 25.2401 9.29423 24.8975 10.0323C24.5535 10.7729 24.1743 11.4979 23.8243 12.2311C23.7996 12.2829 23.7708 12.322 23.7401 12.3874L22.5772 14.7611C22.5495 14.8138 22.5304 14.8741 22.5036 14.9282L22.2542 15.4246C22.0126 15.9068 21.6501 16.71 21.424 17.1206C21.3596 17.2372 21.3181 17.3401 21.2581 17.4598C21.0325 17.9102 20.822 18.3539 20.5994 18.7981L19.9328 20.1523C19.5055 21.0731 19.0426 21.9313 18.6151 22.8523C18.4829 23.1368 18.3313 23.3902 18.2106 23.6749C18.1785 23.7499 18.1508 23.7743 18.1171 23.8461C18.0906 23.903 18.0733 23.958 18.0451 24.0148C17.9499 24.2079 17.3315 25.4086 17.2978 25.5529C16.9992 25.5529 16.6573 25.6346 16.3622 25.6774C16.0641 25.7204 15.718 25.7441 15.3959 25.7713C14.7625 25.8245 14.0636 25.8654 13.3696 25.8654C11.634 25.8654 9.89911 25.6742 8.20183 25.2988L7.2745 25.0698C6.98008 25.0081 6.66859 24.8935 6.37556 24.8127L5.51286 24.5193C5.68821 24.5193 5.92424 24.5522 6.1049 24.5778C6.41201 24.6208 6.72467 24.616 7.02993 24.6406C7.76551 24.7004 8.51123 24.7103 9.24912 24.6882L10.7198 24.5686C10.9176 24.5405 11.0902 24.5149 11.2927 24.491C11.9016 24.419 12.5435 24.2604 13.1317 24.0899L13.8546 23.8491C14.1497 23.7513 14.7283 23.5304 14.9609 23.3421C15.0894 23.2381 15.1335 23.0807 15.2113 22.9428L15.5304 22.2995C15.9944 21.3739 16.4289 20.4271 16.8959 19.503L17.6432 17.9887C17.7168 17.8419 17.7814 17.712 17.8523 17.5721C17.8869 17.5038 17.915 17.4237 17.9499 17.3572C18.2754 16.7355 18.7117 15.7459 19.014 15.1975L20.2279 12.7303C20.2584 12.6762 20.2556 12.6695 20.2793 12.6134C20.3126 12.5354 20.3476 12.4732 20.3825 12.4037L21.9198 9.27372C21.9445 9.22907 21.954 9.2033 21.9739 9.15934C22.0059 9.088 22.0387 9.0277 22.0774 8.95037L22.8248 7.43601C23.158 6.77687 23.673 5.61993 23.9872 5.06182L25.7313 1.51296C25.7528 1.472 25.7627 1.43679 25.7812 1.39468C25.9563 0.998135 26.2828 0.582265 25.8843 0.185263C25.7549 0.055921 25.5611 0 25.3472 0C25.1614 0 25.0601 0.102405 24.9374 0.168227C24.275 0.524033 23.5869 0.822539 22.868 1.06074L21.2936 1.53369C20.4215 1.77235 19.4824 1.9629 18.5894 2.10559C18.3961 2.13643 18.236 2.15577 18.0654 2.18407C17.0105 2.35921 15.9466 2.46554 14.8864 2.54655C14.5212 2.57463 14.1494 2.62297 13.7793 2.6202C13.2288 2.61629 12.6356 2.6957 12.0924 2.69271C11.8915 2.69156 11.6905 2.69316 11.4893 2.69201C11.2911 2.69086 11.155 2.7164 10.9353 2.7164C10.2842 2.71594 9.99415 2.64369 9.72719 3.3141L8.84027 5.07355C8.80196 5.14651 8.79458 5.19231 8.74705 5.26918C8.69583 5.35203 8.69488 5.37552 8.65266 5.46343L7.95724 6.83694C7.83864 7.0344 7.68404 7.43509 7.56614 7.62496C7.51469 7.70758 7.514 7.73128 7.47177 7.81897C7.43093 7.90389 7.40764 7.92531 7.36542 8.02565L7.17137 8.40908C7.12476 8.48595 7.11622 8.53127 7.07815 8.60423L6.07723 10.5867C6.03524 10.6889 6.03338 10.6921 5.98077 10.7791L4.10121 14.5293C4.05714 14.6361 4.04655 14.6315 4.00247 14.7194L3.60029 15.5201C3.46393 15.8002 3.26597 16.2458 3.11323 16.5006C3.06454 16.5813 3.05715 16.6343 3.01147 16.7116L2.52139 17.689C2.48724 17.7705 2.45862 17.7901 2.42078 17.8773C2.37971 17.9721 2.37902 17.9885 2.32711 18.0722C2.27704 18.1528 2.27058 18.2025 2.22535 18.2833C2.17644 18.3698 2.17275 18.3767 2.12891 18.4754L1.43579 19.8515C1.38987 19.9272 1.37672 19.9596 1.34072 20.045L0.0511601 22.6047C-0.15327 23.12 0.298039 23.4137 0.644601 23.6781L1.32641 24.1759C1.55092 24.3439 1.79504 24.4901 2.03292 24.6491C2.62429 25.044 3.24727 25.4065 3.87417 25.7451C3.94432 25.783 3.98055 25.8102 4.05854 25.8498L4.66144 26.1619C4.73551 26.1987 4.78003 26.2203 4.85202 26.2601L5.25603 26.4581C5.79064 26.7119 6.32849 26.9743 6.87256 27.2014C7.79481 27.5867 9.1866 28.1358 10.116 28.3894C10.7293 28.5568 11.3513 28.7595 11.9764 28.9137C12.6167 29.0716 13.2304 29.2148 13.9099 29.3406C14.0883 29.3738 14.2094 29.4097 14.3919 29.4368C14.9861 29.5261 16.4759 29.7853 17.0085 29.8078C17.406 29.8246 18.1605 29.9123 18.6245 29.9505C18.7168 29.9581 18.8197 29.9468 18.9125 29.9517L20.3825 30Z' fill='%23FEFEFE'/%3E%3C/svg%3E%0A") 50% no-repeat;

        span {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 100%;
            width: 0;
            padding: 0;
            line-height: 87px;
            font-weight: 800;
            font-size: 16px;
            letter-spacing: 0.045em;
            color: #FFFFFF;
            background: #4FCF84;
            white-space: nowrap;
            overflow: hidden;
            transition: all 0.3s;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 14px;
                height: 14px;
                background: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.85 1.0614V6.57749H3.55C3.40495 6.57749 3.25887 6.65584 3.17032 6.74183C3.03874 6.86963 3 6.99 3 7.17251C3 7.43656 3.24169 7.60675 3.3875 7.74744L5.87083 10.1436C6.03879 10.3057 6.19454 10.456 6.3625 10.6181C6.58131 10.8292 6.68551 11 7.03333 11C7.30698 11 7.48336 10.7668 7.62916 10.6261L10.6042 7.75548C10.823 7.54435 11 7.44381 11 7.10819C11 6.88276 10.852 6.74279 10.6739 6.63485C10.6113 6.59696 10.5426 6.57749 10.45 6.57749H8.15V1.0614C8.15 0.833554 8.06662 0.641465 7.95508 0.477557C7.88808 0.379117 7.95414 0.445188 7.83752 0.33368C7.72089 0.222164 7.68424 0.184707 7.53355 0.11236C7.40309 0.0497241 7.25111 0.0117691 7.09537 0H6.88692C6.7068 0.0137282 6.53222 0.0635374 6.39075 0.151891C6.26641 0.229554 6.20753 0.277219 6.10362 0.389452C5.97006 0.533705 5.85 0.849823 5.85 1.0614Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 13.086C0.00189976 13.1282 0.00854545 13.1603 0.0288722 13.2725C0.0418783 13.3443 0.0671806 13.3876 0.0946819 13.4452C0.175335 13.6141 0.221625 13.6313 0.309891 13.7131C0.406681 13.8027 0.385353 13.8139 0.58821 13.9079C0.646399 13.9349 0.703358 13.9598 0.771993 13.9713C0.8479 13.984 0.906277 14 0.993242 14H13.0068C13.1379 14 13.2956 13.9607 13.4013 13.9127C13.454 13.8888 13.5124 13.858 13.561 13.8271C13.6811 13.7505 13.6418 13.7578 13.6901 13.7131C13.7204 13.685 13.7182 13.6977 13.7514 13.6676C13.7717 13.6493 13.7889 13.6251 13.8066 13.602C13.8411 13.557 13.8728 13.5067 13.9005 13.4553C13.9576 13.3498 13.9902 13.2225 14 13.0916V12.919C13.9902 12.7873 13.9581 12.6597 13.9055 12.5547C13.7838 12.312 13.4893 12.0914 13.2087 12.032C13.1328 12.0159 13.0809 12 12.991 12H1.00901C0.92483 12 0.871017 12.0147 0.804003 12.0292C0.60988 12.0711 0.460174 12.1493 0.319223 12.281C0.225821 12.3683 0.159733 12.4331 0.0996227 12.5448C0.0519269 12.6335 0 12.7937 0 12.9197V13.086Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
                margin: auto;
                opacity: 0;
                transition: all 0.6s;
            }
        }

        @media all and (max-width: 1023px) {
        	display: none;
        }

        &:hover {

            span {
                padding-left: 30px;
                width: 210px;

                &:before{
                    opacity: 1;
                }
            }
        }
    }

    .title_h1 {
    	font-style: normal;
		font-weight: 700;
		font-size: 35px;
		line-height: 135.5%;
		letter-spacing: 0.045em;
		color: #000000;
		text-align: center;
		padding-bottom: 20px;

		@media all and (max-width: 1023px) {
			font-size: 20px;
			display: none;
	    }
    }

    .block_inner {
    	max-width: 100%;
    	display: flex;
    	position: relative;

    	@media all and (max-width: 1023px) {
    		display:  block;
    	}

    	.left_block {
    		flex: 1 1 auto;
    		padding-top: 12px;
    		margin-right: 50px;

    		@media all and (max-width: 1380px){
    			margin-right: 30px;
    		}

    		@media all and (max-width: 1023px) {
    			margin-right: 0;
    		}
    	}

    	.right_panel {
    		flex: 0 0 420px;

    		@media all and (max-width: 1380px){
    			flex: 0 0 372px;
    		}

    		@media all and (max-width: 1023px) {
    			width: 100%;
    		}
    	}
    }
}

.product_item {
	margin-bottom: 50px;
	display: flex;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px 4px rgba(35, 35, 38, 0.05);
	border-radius: 10px;

	@media all and (max-width: 1100px){
		display: block;
		margin-bottom: 15px;
	}

	.image {
		flex: 1 1 auto;
		margin-right: 50px;

		@media all and (max-width: 1380px) {
			margin-right: 20px;
		}

		img {
			width: 100%;
			border-radius: 10px 0 0 10px;
			height: 100%;
			object-fit: cover;
		}

		@media all and (max-width: 1100px){
			margin: 0;

			img {
				border-radius: 10px 10px 0 0;
			}
		}
	}

	.right_pr {
		flex: 0 0 340px;
		padding: 7px 0 20px;
		position: relative;

		@media all and (max-width: 1280px){
			flex: 0 0 290px;
			padding-right: 16px;
		}



		.label {
			position: absolute;
			top: -7px;
			right: 20px;
			font-style: normal;
			font-weight: 900;
			font-size: 50px;
			line-height: 135.5%;
			color: #4FCF84;
			opacity: 0.07;

			@media all and (max-width: 1100px) {
				right: 0;
			}
		}

		.name {
			font-style: normal;
			font-weight: 700;
			font-size: 25px;
			line-height: 135.5%;
			letter-spacing: 0.045em;
			color: #232326;
			padding-bottom: 18px;
			max-width: 200px;
		}

		.address {
			padding-left: 20px;
			position: relative;
			font-weight: 300;
			font-size: 16px;
			line-height: 135.5%;
			letter-spacing: 0.045em;
			color: #000000;
			margin-bottom: 72px;

			@media all and (max-width: 1280px){
				margin-bottom: 30px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 14px;
				height: 22px;
				background: url("data:image/svg+xml,%3Csvg width='14' height='22' viewBox='0 0 14 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.00114 0C10.8663 0 14 3.07775 14 6.87388C14 13.75 7.00114 22 7.00114 22C7.00114 22 0 13.75 0 6.87388C0 3.07775 3.136 0 7.00114 0ZM7.00114 11C9.32114 11 11.2023 9.15245 11.2023 6.87388C11.2023 4.59531 9.32114 2.75 7.00114 2.75C4.68114 2.75 2.8 4.59755 2.8 6.87388C2.8 9.15245 4.68114 11 7.00114 11Z' fill='%234FCF84'/%3E%3C/svg%3E%0A") 50% no-repeat;
			}
		}

		.param {
			padding-bottom: 14px;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin-bottom: 9px;
					font-style: normal;
					font-weight: 300;
					font-size: 16px;
					line-height: 135.5%;
					letter-spacing: 0.045em;
					color: #000000;

					span {
						font-weight: 500;
					}
				}
			}
		}

		.icons {
			font-size: 0;
			margin-bottom: 71px;

			@media all and (max-width: 1280px){
				margin-bottom: 30px;
			}

			.icon {
				display: inline-flex;
				vertical-align: top;
				width: 30px;
				height: 30px;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				background: #4FCF84;
				margin-right: 12px;
			}
		}

		.price {
			padding-bottom: 32px;

			.name {
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 135.5%;
				letter-spacing: 0.045em;
				color: #000000;
				padding-bottom: 8px;
			}

			.current {
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 135.5%;
				letter-spacing: 0.045em;
				color: #000000;
			}
		}

		.btn {
			background: #4FCF84;
			border-radius: 10px;
			max-width: 290px;
			padding: 9px 20px;
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 135.5%;
			letter-spacing: 0.045em;
			text-transform: uppercase;
			color: #FFFFFF;
		}

		@media all and (max-width: 1100px) {
			padding: 7px 25px;

			.name {
				padding-bottom: 13px;
			}

			.address {
				margin-bottom: 20px;
			}

			.param {
				display: none;
			}

			.icons {
				margin-bottom: 10px;
			}

			.price {
				padding-bottom: 14px;
			}
		}
	}
}

.filter {
	margin-bottom: 44px;

	@media all and (max-width: 1023px) {
		display: none;
		position: absolute;
		top: 0;
		left: -16px;
		right: -16px;
	}

	.name {
		margin: 0 auto -12px;
		position: relative;
		width: 90px;
		height: 24px;
		background: #FFFFFF;
		box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
		border-radius: 26px;
		font-style: normal;
		font-weight: 700;
		font-size: 12px;
		line-height: 25px;
		text-align: center;
		letter-spacing: 0.045em;
		text-transform: uppercase;
		color: #232326;

		@media all and (max-width: 1023px){
			display: none;
		}
	}

	.inner {
		background: url(../img/filtr_bg.jpg) 50% no-repeat;
		background-size: cover;
		padding: 38px 55px 30px;
		border-radius: 10px;

		@media all and (max-width: 1380px){
			padding: 38px 32px;
		}

		.btns {
            display: flex;
            justify-content: space-between;
            padding-bottom: 36px;

            .btn_w {
                cursor: pointer;
                padding: 0 4px;
                font-weight: 500;
                font-size: 14px;
                line-height: 32px;
                letter-spacing: 0.045em;
                color: #000000;
                background: #FFFFFF;
                box-shadow: 0px 0px 5px 1px rgba(125, 121, 121, 0.35);
                border-radius: 20px;
                min-width: 54px;
                text-align: center;
                height: 32px;

                &.active {
                    background: #1A8746;
					box-shadow: 0px 2px 4px rgba(15, 66, 36, 0.5);
                    color: #fff;
                }
            }
        }

        .line_slider {
        	margin-bottom: 73px;
        }

        .btn {
        	width: 250px;
        	margin: 0 auto;
        	height: 40px;
        	padding: 0 10px;
        	display: block;
        	font-size: 16px;
        	background: #FFEFA1;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

			&:hover {
				background: #000;
			}
        }

        .text_slider {
        	display: none;
        }

        @media all and (max-width: 1023px){
			padding: 5px 16px 24px;
			background: rgba(255, 255, 255, 0.8);
			box-shadow: 0px 4px 0 0 rgba(35, 35, 38, 0.25);
			backdrop-filter: blur(7.5px);
			border-radius: 0;

			.filter_bottm {
				text-align: right;

				.btn {
					display: inline-block;
					vertical-align: top;
					padding: 0 0 0 30px;
					background: #4FCF84 url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.21794 5.02532C3.21794 5.81622 3.26887 6.20127 3.49501 6.90902C3.53278 7.02724 3.56997 7.1332 3.61786 7.24137C3.74138 7.52038 3.76788 7.58869 3.92636 7.85465L4.10711 8.14076C4.06512 8.20698 3.12421 9.18632 3.04504 9.26992L0.377542 12.0872C0.105224 12.3748 0 12.5076 0 12.9406C0 13.2564 0.182195 13.4536 0.349317 13.6301C0.442813 13.7288 0.505502 13.8082 0.621451 13.8793C0.888632 14.043 1.2512 14.0411 1.51311 13.868C1.68669 13.7532 3.23149 12.0841 3.412 11.8935L5.02097 10.1941C5.10658 10.1037 5.52256 9.67684 5.56082 9.6165C5.87958 9.79464 6.24391 10.0137 6.60807 10.1203C7.37499 10.3449 7.50427 10.3618 8.29889 10.3618C8.65117 10.3618 9.06526 10.278 9.34634 10.2011C10.0205 10.0165 10.6056 9.69542 11.1419 9.25028L11.619 8.80026C11.6475 8.76607 11.6506 8.75298 11.6824 8.71809C11.7105 8.68721 11.7338 8.66789 11.7602 8.63629C12.0257 8.31788 12.3061 7.89019 12.4861 7.50987C13.4383 5.49857 13.0287 3.06687 11.5768 1.53347C10.2592 0.141866 8.35207 -0.362064 6.5611 0.268248C6.40106 0.324577 6.2675 0.384575 6.12333 0.446873C5.85433 0.563141 5.58676 0.739349 5.35468 0.902103C5.06723 1.10367 4.71358 1.44994 4.47741 1.71962C4.44552 1.75603 4.44106 1.77267 4.40718 1.80941C4.30887 1.91607 4.22284 2.04575 4.13731 2.16537C3.91872 2.47106 3.63543 3.01426 3.50913 3.40993C3.34222 3.93275 3.21794 4.42386 3.21794 5.02532ZM8.12923 1.80053C9.87668 1.80053 11.2933 3.29668 11.2933 5.14227C11.2933 6.98787 9.87668 8.48402 8.12923 8.48402C6.38178 8.48402 4.9652 6.98787 4.9652 5.14227C4.9652 3.29668 6.38178 1.80053 8.12923 1.80053Z' fill='white'/%3E%3C/svg%3E%0A") calc(100% - 32px) 50% no-repeat;
					height: 32px;
					box-shadow: 0px 2px 4px rgba(15, 66, 36, 0.5);
					border-radius: 40px;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 16px;
					color: #fff;
					width: 146px;
					text-align: left;
				}
			}

			.line_slider {
				margin-bottom: 37px;
				background: #FFEB8B;
				box-shadow: 0px 0px 5px rgba(125, 121, 121, 0.35);
				border-radius: 16px;
				display: flex;

				.text_slider {
					display: block;
					flex: 0 0 82px;
					font-style: normal;
					font-weight: 400;
					font-size: 12px;
					line-height: 32px;
					text-align: center;
					letter-spacing: 0.045em;
					color: #333333;
				}

				.item_slider_wr {
					flex: 1 1 auto;
					padding: 4px;
					background: #fff;
					border-radius: 16px;

					#item_slider {
						box-shadow: none;
						border-radius: 12px;
						height: 24px;
						margin: 0 21px;

						.noUi-connects {
							border-radius: 12px;
							margin: 0 -21px 0 -21px;
							width: auto;
						}
					}

					.noUi-horizontal .noUi-handle {
						width: 42px;
						top: 0;
						height: 24px;
						background: #4FCF84 url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='2' height='10' rx='1' fill='white'/%3E%3Crect x='10' width='2' height='10' rx='1' fill='white'/%3E%3Crect x='5' width='2' height='10' rx='1' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
						border-radius: 21px;
						right: -21px;
						box-shadow: none
					}
				}
			}

			.noUi-horizontal .noUi-tooltip {
				display: none;
			}
		}
	}
}

.form_panel {
	padding: 108px 55px 107px;
	background: url(../img/fotm_bg.jpg) 50% no-repeat;
	background-size: cover;
	border-radius: 10px;

	@media all and (max-width: 1380px){
		padding: 27px 32px;
	}

	@media all and (max-width: 1023px) {
		display: none;
	}

	.name {
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 135.5%;
		text-align: center;
		letter-spacing: 0.045em;
		color: #FFFFFF;
		padding-bottom: 18px;
		margin-bottom: 20px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 88px;
			height: 2px;
			background: #fff;
		}
	}

	.text {
		padding-bottom: 31px;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 135.5%;
		text-align: center;
		letter-spacing: 0.045em;
		color: #FFFFFF;
	}

	.fields {
		position: relative;
		padding: 3px 70px 3px 3px;
		background: #FFFFFF;
		border-radius: 10px;

		input.input_ph {
			width: 100%;
			border: none;
			outline: none;
			height: 34px;
			font-weight: 300;
			font-size: 16px;
			line-height: 135.5%;
			text-align: center;
			letter-spacing: 0.045em;
			text-transform: uppercase;
			color: #000000;
			background: none !important;
		}

		.input_btn {
			width: 59px;
			height: 34px;
			background: #4FCF84 url("data:image/svg+xml,%3Csvg width='25' height='21' viewBox='0 0 25 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.46832 12.0992C6.81994 11.9884 17.1886 5.307 18.3958 4.55055C18.7101 4.3536 19.8489 3.46071 20.2382 3.77912C20.2406 3.78155 20.4818 3.81059 20.19 4.15231C20.0927 4.26637 19.9466 4.35742 19.8288 4.45993L17.7712 6.30947C17.5143 6.56934 17.3758 6.64996 17.1161 6.91207C16.3869 7.64814 14.6781 9.01957 14.0335 9.65877L9.92018 13.3631C9.70116 13.5411 9.65048 13.4812 9.73327 13.7177C9.98831 13.8354 13.0391 16.092 13.1415 16.2542C13.4718 16.3561 15.5596 17.9703 16.0398 18.318L18.9102 20.4151C20.729 21.4723 20.9528 19.004 21.1372 18.1485L23.7804 5.75443C24.0581 4.43603 24.4305 2.98023 24.6466 1.67366C24.7727 0.910738 24.5508 0.174797 23.874 0.021181C23.3254 -0.103338 22.4076 0.354047 21.9347 0.536687C18.4198 1.89388 14.6194 3.43361 11.1419 4.71262L3.92459 7.49401C3.12809 7.79886 0.880086 8.57767 0.379732 8.98423C-0.985015 10.0931 1.69571 10.6379 2.64551 10.9165C3.27749 11.1019 3.92494 11.3202 4.56314 11.5197C5.0928 11.6852 5.9809 12.0143 6.46832 12.0992Z' fill='%23F5FAFD'/%3E%3C/svg%3E%0A") 50% no-repeat;
			border-radius: 10px;
			border: none;
			outline: none;
			position: absolute;
			top: 3px;
			right: 3px;
			font-size: 0;
			cursor: pointer;
		}
	}
}

.image_bg_block_wr {
	min-height: 542px;
	padding: 20px 16px 133px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-size: cover;
	background-position: 50% 0;
	background-repeat: no-repeat;

	.title {
		font-style: normal;
		font-weight: 700;
		font-size: 45px;
		line-height: 61px;
		text-align: center;
		letter-spacing: 0.07em;
		color: #FFFFFF;
		padding-bottom: 17px;
		max-width: 500px;
	}

	.text {
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
		color: #FFFFFF;
		text-align: center;
	}

	@media all and (max-width: 1380px){
		min-height: 480px;
		padding-bottom: 149px;
	}
}