</div>
<footer class="footer">
	<div class="logo_footer">
		<img src="files/logo_f.svg" alt="">
	</div>
	<div class="copy">
		<div class="body">Политика конфиденциальности. Политика конфиденциальности</div>
		<div class="text">Все права защищены <br>2022</div>
	</div>
	<div class="phone">
		<a href="tel:8 (800) 555-11-22">8 (800) 555-11-22</a>
	</div>
</footer>
</div>
<script src="js/wNumb.js" async></script>
<script src="js/nouislider.min.js" async></script>
<script src="js/main.js" async></script>
</body>
</html>