<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/nouislider.min.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/main-inner.css">
	<script src="js/jquery.min.js"></script>
</head>
<body>
<div class="site_wrapper">
	<div class="header">
		<div class="left">
			<div class="burger">
				<div class="swich"></div>
				<div class="text">menu</div>
			</div>
		</div>
		<div class="menu_header menu_left">
			<ul>
				<li><a href="">О КОМПЛЕКСЕ</a></li>
				<li><a href="">ПЛАНИРОВКИ</a></li>
			</ul>
		</div>
		<div class="logo">
			<a href="#" class="pc">
				<img src="files/logo.svg" alt="">
			</a>
			<a href="#" class="mob">
				<img src="files/logo-mob.svg" alt="">
			</a>
		</div>
		<div class="menu_header menu_right">
			<ul>
				<li><a href="">ПЛАНИРОВКИ</a></li>
				<li><a href="">ПЛАНИРОВКИ</a></li>
			</ul>
		</div>
		<div class="phone">
			<a href="tel:8 (800) 555-11-22">8 (800) 555-11-22</a>
		</div>
	</div>
	<div class="content_block_wr">