include _header.jade
	<div class="catalog_block_wr">
		<a href="" download class="download_btn"><span>СКАЧАТЬ КАТАЛОГ</span></a>
		<div class="text_ver"><span>каталог элитной недвижимости сочи</span></div>
		<div class="title_h1">ЭЛИТНЫЕ НОВОСТРОЙКИ СОЧИ</div>
		<div class="filte_block_btn"><div class="filter_btn">Фильтр</div></div>
		<div class="block_inner">
			<div class="left_block">
				<div class="product_item">
					<div class="image">
						<a href="#">
							<img src="files/foto.jpg" alt="">
						</a>
					</div>
					<div class="right_pr">
						<div class="label">ЖК</div>
						<div class="name">Резиденция Ясногорская</div>
						<div class="address">ул. Быхта, 48</div>
						<div class="param">
							<ul>
								<li>До моря: <span>150 метров</span></li>
								<li>Вид из окон: <span>Море, горы, двор</span></li>
							</ul>
						</div>
						<div class="icons">
							<div class="icon">
								<img src="files/pr-icon1.svg" alt="">
							</div>
							<div class="icon">
								<img src="files/pr-icon2.svg" alt="">
							</div>
							<div class="icon">
								<img src="files/pr-icon2.svg" alt="">
							</div>
							<div class="icon">
								<img src="files/pr-icon3.svg" alt="">
							</div>
						</div>
						<div class="price">
							<div class="price_name">Квартиры:</div>
							<div class="current">от 45 000 000 рублей</div>
						</div>
						<a href="#" class="btn">Подробнее</a>
					</div>
				</div>
				<div class="product_item">
					<div class="image">
						<a href="#">
							<img src="files/foto.jpg" alt="">
						</a>
					</div>
					<div class="right_pr">
						<div class="label">ЖК</div>
						<div class="name">Резиденция Ясногорская</div>
						<div class="address">ул. Быхта, 48</div>
						<div class="param">
							<ul>
								<li>До моря: <span>150 метров</span></li>
								<li>Вид из окон: <span>Море, горы, двор</span></li>
							</ul>
						</div>
						<div class="icons">
							<div class="icon">
								<img src="files/pr-icon1.svg" alt="">
							</div>
							<div class="icon">
								<img src="files/pr-icon2.svg" alt="">
							</div>
							<div class="icon">
								<img src="files/pr-icon2.svg" alt="">
							</div>
							<div class="icon">
								<img src="files/pr-icon3.svg" alt="">
							</div>
						</div>
						<div class="price">
							<div class="price_name">Квартиры:</div>
							<div class="current">от 45 000 000 рублей</div>
						</div>
						<a href="#" class="btn">Подробнее</a>
					</div>
				</div>
				<div class="product_item">
					<div class="image">
						<a href="#">
							<img src="files/foto.jpg" alt="">
						</a>
					</div>
					<div class="right_pr">
						<div class="label">ЖК</div>
						<div class="name">Резиденция Ясногорская</div>
						<div class="address">ул. Быхта, 48</div>
						<div class="param">
							<ul>
								<li>До моря: <span>150 метров</span></li>
								<li>Вид из окон: <span>Море, горы, двор</span></li>
							</ul>
						</div>
						<div class="icons">
							<div class="icon">
								<img src="files/pr-icon1.svg" alt="">
							</div>
							<div class="icon">
								<img src="files/pr-icon2.svg" alt="">
							</div>
							<div class="icon">
								<img src="files/pr-icon2.svg" alt="">
							</div>
							<div class="icon">
								<img src="files/pr-icon3.svg" alt="">
							</div>
						</div>
						<div class="price">
							<div class="price_name">Квартиры:</div>
							<div class="current">от 45 000 000 рублей</div>
						</div>
						<a href="#" class="btn">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="right_panel">
				<div class="filter">
					<div class="name">фильтр</div>
					<div class="inner">
						<div class="btns">
							<div class="btn_w all">ВСЕ</div>
							<div class="btn_w">1k</div>
							<div class="btn_w">2k</div>
							<div class="btn_w">3k</div>
							<div class="btn_w">4k+</div>
						</div>
						<div class="line_slider">
							<div class="item_slider_wr">
								<div id="item_slider"></div>
							</div>
							<div class="text_slider">до <span>45</span> млн</div>
						</div>
						<div class="filter_bottm"><button class="btn">найти</button></div>
					</div>
				</div>
				<div class="form_panel">
					<form action="">
						<div class="name">Заголовок формы</div>
						<div class="text">Примерный текст акционного товара и предложения.</div>
						<div class="fields">
							<input type="text" class="input_ph" placeholder="+7 (___) ___ - __ - __">
							<input type="submit" class="input_btn">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
include _footer.jade