include _header.jade
	<div class="image_bg_block_wr" style="background-image: url(files/bg_main.jpg);">
		<div class="block_inner">
			<div class="title">Единая база элитных <br>новостроек Сочи</div>
			<div class="text">Только проверенные застройщики</div>
		</div>
	</div>	
	<div class="filter_main">
		<div class="block_inner">
			<div class="title">
				<div class="name">Только элитные новостройки</div>
				<div class="location">Сочи</div>
			</div>
			<div class="inner">
				<div class="btns">
					<div class="btn_w all">ВСЕ</div>
					<div class="btn_w">1k</div>
					<div class="btn_w">2k</div>
					<div class="btn_w">3k</div>
					<div class="btn_w">4k+</div>
				</div>
				<div class="line_slider">
					<div class="item_slider_wr">
						<div id="item_slider"></div>
					</div>
					<div class="text_slider">до <span>45</span> млн</div>
				</div>
				<div class="filter_bottm"><button class="btn">найти</button></div>
			</div>
		</div>
	</div>
include _footer.jade