include _header.jade
	<div class="product_top_block">
		<div class="right_block_btn">
			<a href="" download class="download_btn"><span>СКАЧАТЬ КАТАЛОГ</span></a>
			<div class="text_ver">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</div>
		</div>
		<div class="slider_product_wr">
			<div class="slider_product">
				<div class="item">
					<img src="files/sldier.jpg" alt="">
				</div>
				<div class="item">
					<img src="files/sldier1.jpg" alt="">
				</div>
			</div>
			<div class="name">АК “Сочи Residents”</div>
			<div class="detals">
				<div class="address">ул. Фабрисиуса 25 стр</div>
				<div class="price">от 45 000 000 руб.</div>
			</div>
		</div>
		<div class="right">
			<div class="title">АПАРТАМЕНТНЫЙ КОМПЛЕКС</div>
			<div class="name">АК “Сочи Residents”</div>
			<div class="detals">
				<div class="address">ул. Фабрисиуса 25 стр</div>
				<div class="price">от 45 000 000 руб.</div>
			</div>
			<div class="params">
				<ul>
					<li>
						<div class="param_name">Цена</div>
						<div class="param_val">от 45 000 000 руб.</div>
					</li>
					<li>
						<div class="param_name">Площадь</div>
						<div class="param_val">от 50м2 - 1000м2</div>
					</li>
					<li>
						<div class="param_name">Паркинг</div>
						<div class="param_val">от 50м2 - 1000м2</div>
					</li>
					<li>
						<div class="param_name">Цена</div>
						<div class="param_val">от 45 000 000 руб.</div>
					</li>
					<li>
						<div class="param_name">Площадь</div>
						<div class="param_val">от 50м2 - 1000м2</div>
					</li>
					<li>
						<div class="param_name">Паркинг</div>
						<div class="param_val">от 50м2 - 1000м2</div>
					</li>
					<li>
						<div class="param_name">Цена</div>
						<div class="param_val">от 45 000 000 руб.</div>
					</li>
					<li>
						<div class="param_name">Площадь</div>
						<div class="param_val">от 50м2 - 1000м2</div>
					</li>
					<li>
						<div class="param_name">Паркинг</div>
						<div class="param_val">от 50м2 - 1000м2</div>
					</li>
				</ul>
			</div>
			<div class="button">
				<div class="btn">ПОДРОБНЕЕ</div>
			</div>
		</div>
	</div>
	<div class="image_block_wr">
		<div class="right_block_btn">
			<div class="text_ver">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</div>
		</div>
		<div class="text_block">
			<div class="title">ШИКАРНЫЕ ВИДЫ НА ЧЕРНОЕ МОРЕ</div>
			<div class="body">Наслаждайтесь пением птиц, вдыха свежий воздух морского бриза Наслаждайтесь пением птиц, вдыхая морского бриза</div>
		</div>
		<div class="image">
			<img src="files/chayk.png" alt="">
		</div>
		<div class="bg" style="background-image: url(files/bg_block.jpg);"></div>
	</div>
	<div class="preim_block_wr">
		<div class="right_block_btn">
			<div class="text_ver">ПРЕИМУЩЕСТВА</div>
		</div>
		<div class="title">ПРЕИМУЩЕСТВА ЖК “СОЧИ RESIDENTS”</div>
		<div class="inner_block">
			<div class="left">
				<div class="list_item">
					<div class="item">
						<div class="icon">
							<img src="files/park.svg" alt="">
						</div>
						<div class="name">Парковка</div>
					</div>
					<div class="item">
						<div class="icon">
							<img src="files/park2.svg" alt="">
						</div>
						<div class="name">Инфраструктура</div>
					</div>
					<div class="item">
						<div class="icon">
							<img src="files/park3.svg" alt="">
						</div>
						<div class="name">Благоустройство</div>
					</div>
					<div class="item">
						<div class="icon">
							<img src="files/park4.svg" alt="">
						</div>
						<div class="name">Безопасность</div>
					</div>
				</div>
				<div class="sliders">
					<div class="image">
						<img src="files/p_image.jpg" alt="">
					</div>
					<div class="text_slider">
						<div class="item">
							<div class="name">ПОДЗЕМНАЯ ПАРКОВКА</div>
							<div class="body">Наслаждайтесь пением птиц, вдыха свежий воздух бриза. Наслаждайтесь пением птиц, вдыхая морского бриза моря. Наслаждайтесь пением птиц, вдыха свежий воздух бриза морского!</div>
						</div>
						<div class="item">
							<div class="name">ПОДЗЕМНАЯ ПАРКОВКА</div>
							<div class="body">Наслаждайтесь пением птиц, вдыха свежий воздух бриза. Наслаждайтесь пением птиц, вдыхая морского бриза моря. Наслаждайтесь пением птиц, вдыха свежий воздух бриза морского!</div>
						</div>
						<div class="item">
							<div class="name">ПОДЗЕМНАЯ ПАРКОВКА</div>
							<div class="body">Наслаждайтесь пением птиц, вдыха свежий воздух бриза. Наслаждайтесь пением птиц, вдыхая морского бриза моря. Наслаждайтесь пением птиц, вдыха свежий воздух бриза морского!</div>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="form_block_wr">
					<form action="">
						<div class="title">ПОСМОТРИТЕ <br>ВИДЕОЭКСКУРСИЮ</div>
						<div class="inner">
							<div class="name">WhatsApp или Telegram</div>
							<div class="field">
								<input type="text" placeholder="+7 (___) ___ - __ - __">
							</div>
							<label>
								<button class="btn send_btn">ОТПРАВИТЬ</button>
								<span class="icons"></span>
							</label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="block_video">
		<div class="title">ВИДЕО О ЖК”СОЧИ RESIDENTS”</div>
		<div class="image_bg">
			<div class="play_wr">
				<div class="play_btn"></div>
			</div>
		</div>
	</div>
	<div class="form_mobile">
		<div class="form_block_wr">
			<form action="">
				<div class="title">ПОСМОТРИТЕ <br>ВИДЕОЭКСКУРСИЮ</div>
				<div class="inner">
					<div class="name">WhatsApp или Telegram</div>
					<div class="field">
						<input type="text" placeholder="+7 (___) ___ - __ - __">
					</div>
					<label>
						<button class="btn send_btn">ОТПРАВИТЬ</button>
						<span class="icons"></span>
					</label>
				</div>
			</form>
		</div>
	</div>
	<div class="images_block_wr">
		<div class="item">
			<div class="image">
				<img src="files/imag1.jpg" alt="">
			</div>
			<div class="text">
				<div class="title">ГЕКТАРЫ ЗЕЛЕНИ ЗА ОКНОМ <br>ЦВЕТУЩИЕ КРУГЛЫЙ ГОД</div>
				<div class="body">Наслаждайтесь пением птиц, вдыха свежий воздух морского бриза Наслаждайтесь пением птиц, вдыхая морского бриза</div>
			</div>
			<div class="img">
				<img src="files/imag1-1.png" alt="">
			</div>
			<div class="text_ver"><span>НАЕДИНЕ С ПРИРОДОЙ</span></div>
		</div>
		<div class="item">
			<div class="image">
				<img src="files/imag2.jpg" alt="">
			</div>
			<div class="text">
				<div class="title">ЧЕРНОЕ МОРЕ <br>У ВАШИХ НОГ</div>
				<div class="body">Наслаждайтесь пением птиц, вдыха свежий воздух морского бриза Наслаждайтесь пением птиц, вдыхая морского бриза</div>
			</div>
			<div class="img">
				<img src="files/imag2-1.png" alt="">
			</div>
			<div class="text_ver"><span>ЧЕРНОЕ МОРЕ У ВАШИХ НОГ</span></div>
		</div>
		<div class="item">
			<div class="image">
				<img src="files/imag3.jpg" alt="">
			</div>
			<div class="text">
				<div class="title">ВЕЛИЧЕСТВЕННЫЕ ГОРЫ <br>В ПРЯМОМ ДОСТУПЕ</div>
				<div class="body">Наслаждайтесь пением птиц, вдыха свежий воздух морского бриза Наслаждайтесь пением птиц, вдыхая морского бриза</div>
			</div>
			<div class="img">
				<img src="files/imag3-1.png" alt="">
			</div>
			<div class="text_ver"><span>ВЕЛИЧИЕ ГОР</span></div>
		</div>
	</div>
	<div class="download_block_wr">
		<div class="text">
			<div class="title">СКАЧАЙТЕ КАТАЛОГ ПЛАНИРОВОК ЖК “СОЧИ RESIDENTS”</div>
			<div class="body">Укажите какой объект вам нужен и мы отправим вам дополнительные фото и видеоматериалы, презентацию и видеоэкскурсию по заинтересовавшему вас объекту</div>
		</div>
		<div class="form_block">
			<div class="name"><span>Цена, до:</span></div>
			<div class="inner">
				<div class="btns">
					<div class="btn_w all">СМОТРИМ ВСЕ</div>
					<div class="btn_w">1k</div>
					<div class="btn_w">2k</div>
					<div class="btn_w">3k</div>
					<div class="btn_w">4k+</div>
				</div>
				<div class="line_slider">
					<div id="item_slider"></div>
				</div>
				<div class="field">
					<input type="text" placeholder="+7 (___) ___ - __ - __">
				</div>
				<button class="btn">СКАЧАТЬ</button>
			</div>
		</div>
	</div>
	<div class="images_items">
		<div class="text_ver"><span>ВЕЛИЧИЕ ГОР</span></div>
		<div class="block_inner">
			<div class="left">
				<div class="img">
					<img src="files/img1.png" alt="">
				</div>
			</div>
			<div class="right">
				<div class="img pdf">
					<img src="files/img2.png" alt="">
				</div>
				<div class="bottom">
					<div class="img pdf">
						<img src="files/img3.png" alt="">
					</div>
					<div class="img">
						<img src="files/img4.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="map_block">
		<div class="text_ver"><span>КАРТА СОЧИ</span></div>
		<div class="title">РАСПОЛОЖЕНИЕ НА КАРТЕ</div>
		<div class="map_bb">
			
		</div>
	</div>
include _footer.jade